<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande recue</title>
</head>

<body>
    <h1 style="color:palevioletred;"> Bonjour {{ prenom }} {{nom}} </h1>
    <p> Nous avons recue avec succes votre commande. </p>
    <p> Notre équipe de Livraison entrera bientôt en contact avec vous à ce courriel : <strong>{{emailclient}}</strong>
        pour
        les détails concernant la Livraison de la commande éffectuée.
    </p>
    <p> Voici les récapitulatifs de votre commande : </p>
    <p> <strong>{{articles}}</strong> </p><br><br>
    <p> Cordialement l'équipe de gestion de commande de laura store.</p>
</body>

</html>