{% extends './layouts/base.html' %}
{% load static %}
{% block title %}
Paiementannulé
{% endblock %}

{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
    <h2 class="ltext-105 cl0 txt-center">
        Votre paiement a été annulé avec succes
    </h2>
</section>
<!-- Content page -->



{% endblock %}

{% block scripts %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}