{% extends './layouts/base.html' %}
{% load static %}
{% block title %}
Produits
{% endblock %}

{% block content %}
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
    <h2 class="ltext-105 cl0 txt-center">
        Liste De Tous Les Produits de la boutique
    </h2>
</section>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						Tous les produits
					</button>

                    {% for categorie in categories %}
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{categorie.nom}}">
						{{categorie.nom}}
					</button>
                    {% endfor %}
				</div>

			</div>

			<div class="row isotope-grid">
                {% for produit in produits %}
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{produit.categorie.nom}}">
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{produit.image_principal.url}}" alt="IMG-PRODUCT">
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="{% url 'produit-detail' id=produit.pk %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{produit.nom}}
								</a>

								<span class="stext-105 cl3">
									$CAD {{produit.prix}}
								</span>
							</div>

						</div>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</section>

{% endblock %}

{% block scripts %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% endblock %}